{{ block title }}
    Этап 2
{{ endblock }}
{{ block content }}
<link rel="stylesheet" href="{{static 'global/main.css'}}">

<div class="card">
    <div class="card-body">
            {{if player.group.treatment == 3}}
        <div class="alert alert-primary">Вам выпала роль участника А. Перед
            принятием решения Вы можете узнать финансовое положение другого участника.
        </div>
            {{formfield 'check_info'}}
            {{endif}}

            {{if player.group.treatment == 4}}
        <div class="alert alert-primary">Вам выпала роль участника А. Перед
            принятием решения Вы можете узнать финансовое положение другого участника.
            Другой участник <b> будет знать </b> Ваше финансовое положение.
        </div>
        {{formfield 'check_info'}}

            {{endif}}

            {{if player.group.treatment == 5}}
        <div class="alert alert-primary">Вам выпала роль участника А. Перед
            принятием решения Вы можете узнать финансовое положение другого участника.
            Другой участник <b> НЕ будет знать </b> Ваше финансовое положение.
        </div>
        {{formfield 'check_info'}}
            {{endif}}

        {{ next_button }}
    </div>
</div>


{{ endblock }}


