{{ block title }}
    Вы можете узнать место партнера в распределении
{{ endblock }}
{{ block content }}
<link rel="stylesheet" href="{{static 'global/main.css'}}">

<div class="card">
    <div class="card-body">

            {{if player.group.treatment == 3}}
        <div class="alert alert-primary">Вы можете узнать финансовое положение Вашего партнера.
        Ваш партнер будет знать знаете ли Вы его финансовое положение
            {{formfield 'check_info'}}
        </div>
            {{endif}}

            {{if player.group.treatment == 4}}
        <div class="alert alert-primary"> Вы можете узнать финансовое положение Вашего партнера.
        Ваш партнер НЕ узнает о том, нажали ли вы эту кнопку.
            {{formfield 'check_info'}}
        </div>
            {{endif}}

            {{if player.group.treatment == 5}}
        <div class="alert alert-primary">Вы можете узнать финансовое положение Вашего партнера.
        Ваш партнер будет знать о том, видели ли Вы информацию о его финансовом положении.
            {{formfield 'check_info'}}
        </div>
            {{endif}}


        {{ next_button }}
    </div>
</div>


{{ endblock }}


