{{ block title }}
    Этап 2
{{ endblock }}
{{ block content }}
<link rel="stylesheet" href="{{static 'global/main.css'}}">



<div class="card">
  <div class="card-body">

      <p>
          Вы объединены в пару с одним из участников, Вам досталась роль участника А.
      </p>

      <div class="alert alert-secondary">
            Вы определили Ваше финансовое положение как:
          {{player.participant.financial_conditions}},
          что означает, что <b> у Вас есть {{player.inc_endowment}} </b>
      </div>
      {{if player.group.treatment == 2}}
      <p>ДРУГОЙ УЧАСТНИК ЗНАЕТ ВАШЕ ФИНАНСОВОЕ ПОЛОЖЕНИЕ.</p>
      {{endif}}


      {{if player.group.treatment == 2 or player.group.treatment == 6 or player.group.field_maybe_none('check_info') or  player.group.field_maybe_none('avoid_info') == 0}}

      <p class="alert alert-primary"> Его финансовое положение: {{other_player_financial_conditions}},
      что означает, что <b> у него есть {{other_player_inc_endowment}}</b></p>
      {{endif}}

      {{if player.group.treatment == 1}}
      <p>ДРУГОЙ УЧАСТНИК НЕ ЗНАЕТ ВАШЕ ФИНАНСОВОЕ ПОЛОЖЕНИЕ
          .</p>
      {{endif}}

      {{if player.group.treatment == 2}}
      <p>ДРУГОЙ УЧАСТНИК ПРОИНФОРМИРОВАН О ТОМ, ЧТО ВЫ ЗНАЕТЕ ЕГО ФИНАНСОВОЕ ПОЛОЖЕНИЕ.</p>
      {{endif}}

      {{if player.group.treatment == 4 and player.group.field_maybe_none('check_info') == 1}}
      <p>ДРУГОЙ УЧАСТНИК ЗНАЕТ О ТОМ, ЧТО ВЫ РЕШИЛИ УЗНАТЬ ЕГО ФИНАНСОВОЕ ПОЛОЖЕНИЕ ПЕРЕД ТЕМ,
      КАК ПРИНЯТЬ РЕШЕНИЕ О ТОМ, СКОЛЬКО ОЧКОВ ПЕРЕДАТЬ ЕМУ.</p>
      {{endif}}

      {{if player.group.treatment == 5 and player.group.field_maybe_none('check_info') == 1}}
      <p>ДРУГОЙ УЧАСТНИК НЕ ЗНАЕТ ВАШЕ ФИНАНСОВОЕ ПОЛОЖЕНИЕ.</p>
      {{endif}}

      {{if player.group.treatment == 6}}
      <p>ДРУГОЙ УЧАСТНИК НЕ ЗНАЕТ ВАШЕ ФИНАНСОВОЕ ПОЛОЖЕНИЕ.</p>
      {{endif}}

      {{if player.group.treatment == 7 and player.group.field_maybe_none('check_info') == 1}}
      <p>ДРУГОЙ УЧАСТНИК НЕ ЗНАЕТ ВАШЕ ФИНАНСОВОЕ ПОЛОЖЕНИЕ.</p>
      {{endif}}

      <p>Вам необходимо определить, сколько из {{C.COMMON_SHARE}} Вы хотите передать участнику Б.</p>

      {{ formfields }}
  </div>
</div>




    {{ next_button }}

{{ endblock }}
